<p>
    <div class="btn-group btn-group-justified" role="group" aria-label="...">
        @Html.ActionLink("すべて", "Index", null, null, new { @class = "btn" })
        @Html.ActionLink("下書き (自分の)", "Drafts", null, null, new { @class = "btn" })
        @Html.ActionLink("承認待ち (すべて)", "Waitings", null, null, new { @class = "btn" })
        @Html.ActionLink("公開中 (すべて)", "Showns", null, null, new { @class = "btn" })
    </div>
</p>

