@model System.Collections.Generic.IEnumerable<FlowApp.Models.ProposalViewModel>

<h2>公開中 (すべて)</h2>

@Html.Partial("_ButtonGroup")

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@Html.Partial("_Proposals", Model)
